services:
  web:
    build: .
    ports:
      - "3000:3000"
      - "5555:5555"
    volumes:
      - .:/app
      - node_modules:/app/node_modules
      - next_cache:/app/.next
    environment:
      NODE_ENV: development
      WATCHPACK_POLLING: "true"
      WATCHPACK_POLLING_INTERVAL: "100"
      CHOKIDAR_USEPOLLING: "true"
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - db
    command: npm run dev -- --hostname 0.0.0.0

  db:
    image: postgres:16
    ports:
      - "4000:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  node_modules:
  next_cache:
  postgres_data:
    